.header {
    height:55px;
    background-color: rgb(255, 255, 255);
    z-index:100;

    display:flex;
    flex-direction:row;
    justify-content: space-between;

    position:fixed;
    top:0px;
    left:0px;
    right:0px;
}

.left-section{
    display:flex;
    align-items:center;

}
.hamburger-icon{
    width:24px;
    margin-left:24px;
}
.youtube-logo{
    width:90px;
    margin-left:24px;
}

.middle-section{
    flex:1;
    padding-left:100px;
    padding-right:75px;
    max-width:650px;
    display:flex;
    align-items:center;
}
.search-bar{
    flex:1;
    height:36px;
    padding-left:10px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size: 13px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-style: solid;
    border-color:rgb(199, 199, 199);
    border-width:1px;
    
}
.search-bar::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size: 16px;
    padding-left:6px;    
}

.search-button{
    height:40px;
    width:64px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    background-color: rgba(248,248,248,255); 
    border-style: solid;
    border-color:rgb(199, 199, 199);
    border-width:1px;
    
    margin-left:-1px;
}
.search-icon{
    height:24px;
    margin-top:3px;
}

.voice-search-button{
    height:40px;
    width:40px;   
    background-color: rgba(0, 0, 0, 0);
    border-color:rgba(0, 0, 0, 0);
    margin-left:8px;
}
.voice-search-icon{
    height:24px;
    padding-top:3px;
}

.right-section{
    display:flex;
    align-items:center;
}
.create-icon{
    width:24px;
    margin-left:1px;
    
}
.notifications-icon{
    width:24px;
    margin-left:24px;
    
}
.profile-picture{
    width:32px;
    border-radius:20px;
    margin-left:30px;
    margin-right:29px;
}

.subheader {
    background-color: rgb(170, 106, 23);
    
    position:fixed;

}