.video-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    padding-right:16px;
    max-width:1488px;
    margin: 0 auto;
}
/*@media (max-width:1705px) {
    .video-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:1365px) {
    .video-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:1020px) {
    .video-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}*/


.video-card{
    margin: 0;
    margin-bottom:38px;
}

.thumbnail-container{
    margin-bottom:10px;
    position:relative;
    max-width:360px;
    min-width:320px;
}
.thumbnail{
    width:100%;
    border-radius:10px;
}
.video-time{
    background-color: rgba(0, 0, 0, 0.76);
    color:white;
    border-radius:5px;
    padding-right:4px;
    padding-left:4px;
    padding-top:3px;
    padding-bottom:3px;

    font-size:12px;
    font-family:Roboto, Arial, sans-serif;
    font-weight:500;
    line-height: 12px;


    position:absolute;
    bottom:7px;
    right:3px;

}

.channel-profile-container{
    width:50px;

}
.channel-profile-pic{
    border-radius:50px;
    width:36px;
    vertical-align:top;
}

.video-info-grid {
    display:grid;
    grid-template-columns: 48px 1fr;
    
}
.video-info{
    max-width:280px;
    vertical-align:top;
    
    
}
.video-title {
    font-size:16px;
    font-weight:500;
    line-height:22px;
    margin-bottom:5px;

}
.channel-name {
    font-size:14px;
    color:rgb(95, 95, 95);
    font-weight:400;
    line-height:20px;


}
.video-stats {
    font-size:14px;
    color:rgb(95, 95, 95);
    line-height:20px;
    font-weight:400;
}

