.sidebar{
    width:240px;

    position:fixed;
    left:0px;
    bottom:0px;
    top:56px;
    
    overflow-y: overlay;
}

.sidebar-title-text{
    padding:12px;
    padding-top:7px;
    padding-bottom:6px;

}

.sidebar-button{
    height:40px;
    border-radius:10px;

    padding-left:12px;
    padding-right:12px;

    display:grid;
    grid-template-columns: 48px 1fr;
}
.sidebar-button:hover{
    background-color:rgba(0, 0, 0, 0.05);
}
.sidebar-button-icon{
    height:24px; 
    width:24px; 
    border-radius:50px;

    margin:auto; 
    margin-left:0px; 
    margin-right:0px;
}
.sidebar-button-text{
    margin:auto; 
    margin-left:0px;

    font-size:14px; 
    line-height:20px;
}

.sidebar-sections{
    margin: 12px;
    padding-right:12px;
}

.home-section,.library-section,.sidebar-subscriptions {
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-bottom-width: 1px;
}
.library-section,.sidebar-subscriptions,.explore-section {
    padding-top:12px;
    padding-bottom:12px;
}
.home-section{
    padding-bottom:12px;
}



.mini-sidebar{
    display:none;
    width:64px;

    padding-left:4px;
    padding-right:4px;
    margin-top:4px;

    position:fixed;
    left:0px;
    bottom:0px;
    top:56px;
}

.mini-sidebar-button{
    height:74px;

    box-sizing: border-box;
    padding-top:16px;
    padding-bottom:14px;
}

.mini-sidebar-button-icon{
    height:24px;
    display: block;

    margin:auto;
    margin-bottom:6px;
}

.mini-sidebar-button-text{
    line-height:14px;
    font-size:10px;
    text-align:center;

    margin:auto;
}

@media (max-width:1315px) {
    .sidebar{
        display:none;
    }
    .mini-sidebar{
        display:block;
    }
}
@media (max-width:790px) {
    .mini-sidebar{
        display:none;
    }
}
