.sidebar{
    background-color: rgb(255, 255, 255);
    width:240px;

    position:fixed;
    left:0px;
    bottom:0px;
    top:56px;
    
    overflow-y: overlay;


}

.sidebar-title-text{
    padding:12px;
    padding-top:7px;
    padding-bottom:6px;

}

.sidebar-button{
    height:40px;
    border-radius:10px;

    padding-left:12px;
    padding-right:12px;

    display:grid;
    grid-template-columns: 48px 1fr;
}
.sidebar-button:hover{
    background-color:rgba(0, 0, 0, 0.05);
}
.sidebar-button-icon{
    height:24px; 
    width:24px; 

    margin:auto; 
    margin-left:0px; 
    margin-right:0px;

    border-radius:50px;
}
.sidebar-button-text{
    margin:auto; 
    margin-left:0px;

    font-size:14px; 
    line-height:20px;
}

.sidebar-sections{
    margin: 12px;
    padding-right:12px;
    

}
.home-section{
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-bottom-width: 1px;

    padding-bottom:12px;
}
.library-section{
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-bottom-width: 1px;

    padding-top:12px;
    padding-bottom:12px;
}
.sidebar-subscriptions{
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-bottom-width: 1px;

    padding-top:12px;
    padding-bottom:12px;
}

.explore-section{
    padding-top:12px;
    padding-bottom:12px;
}